name: NPM Publish

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash
    working-directory: ./src

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm test

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          scope: "@matthewjames/typesafe-cli"
      - run: cp ../README.md ./
      - run: npm ci
      - run: npm publish --access=public
      - run: rm ./README.md
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
